<template>
  <div class="event">
    <div class="event__back">
      <a @click="goBack"><v-icon>navigate_before</v-icon> <span>Назад</span></a>
    </div>
    <h1 v-if="data.id">Редактировать услугу</h1>
    <h1 v-else>Добавить услугу</h1>
    <div>
      <v-form ref="form" :action="action" method="POST" v-model="valid" v-on:submit.prevent="onSubmit">

        <input type="hidden" name="_token" :value="csrf_token">
        <input v-if="data.id" type="hidden" name="_method" value="put">

        <v-text-field
          v-model="data.title"
          :rules="textRules"
          label="Заголовок"
          name="title"
          required
        ></v-text-field>

        <v-text-field
          v-model="data.price"
          :rules="numberRules"
          label="Цена"
          name="price"
          required
        ></v-text-field>

        <v-select
          :items="merchants"
          :rules="selectRules"
          label="Салон"
          v-model="data.merchant_id"
          item-value="id"
          item-text="title"
        >
        </v-select>
        <input type="hidden" name="merchant_id" v-model="data.merchant_id">

        <v-textarea
          name="description"
          label="Описание"
          v-model="data.description" 
          hint=""
        ></v-textarea>

        <v-btn type="submit" color="info">Сохранить</v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ServiceForm',
    props: [
      'service',
      'merchants',
      'csrf_token',
    ],
    data () {
      return {
        default: {
          title: '',
          price: '',
          merchant_id: null,
          description: ''
        },
        valid: false,
        textRules: [
          v => !!v || 'Это поле обязательное',
          v => v.length >= 3 || 'Длина должна быть более трех символов'
        ],
        selectRules: [
          v => !!v || 'Это поле обязательное'
        ],
        numberRules: [
          v => !!v || 'Это поле обязательное',
          v => !/\D/.test(v) || 'Должно быть число',
          v => (v > 0 && v < 1000000) || 'Число между 0 и 999999'
        ],
      }
    },
    created () {
      console.log(this.merchants)
    },
    computed: {
      data () {
        let data = this.default
        if (this.service.id != undefined) {
          data = this.service
        } 
        return data
      },
      action() {
        if (this.data.id != null) {
          return '/admin/services/' + this.data.id
        } else {
          return '/admin/services'
        } 
      }
    },
    methods: {
      goBack () {
        window.history.back();
      },
      onSubmit (event) {
        if (true === this.valid) {
          event.target.submit();
        } else {
          this.$refs['form'].validate(true)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
</style>
