<template>
  <div class="event">
    <div class="event__back">
      <a @click="goBack"><v-icon>navigate_before</v-icon> <span>Назад</span></a>
    </div>
    <h1>Редактировать пользователя</h1>
    <div>
      <v-form ref="form" :action="action" method="POST" v-model="valid" v-on:submit.prevent="onSubmit">

        <input type="hidden" name="_token" :value="csrf_token">
        <input type="hidden" name="_method" value="put">

        <v-text-field
          v-model="data.first_name"
          :rules="textRules"
          label="Имя"
          name="first_name"
          required
        ></v-text-field>

        <v-text-field
          v-model="data.last_name"
          label="Фамилия"
          name="last_name"
        ></v-text-field>

        <v-text-field
          v-model="data.username"
          label="Username"
          name="username"
        ></v-text-field>

        <v-text-field
          v-model="data.phone"
          label="Телефон"
          name="phone"
        ></v-text-field>

        <v-checkbox
          v-model="data.is_admin"
          label="Администратор"
          @change="isAdminChange"
        ></v-checkbox>

        <input type="hidden" name="is_admin" v-model="isAdmin">

        <v-btn type="submit" color="info">Сохранить</v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TeluserForm',
    props: [
      'teluser',
      'csrf_token',
    ],
    data () {
      return {
        valid: false,
        isAdmin: false,
        textRules: [
          v => !!v || 'Это поле обязательное',
          v => v.length >= 3 || 'Длина должна быть более трех символов'
        ],
      }
    },
    created () {
      this.isAdmin = this.teluser.is_admin
    },
    computed: {
      data () {
        return this.teluser
      },
      action() {
        if (this.data.id != null) {
          return '/admin/telusers/' + this.data.id
        } else {
          return '/admin/telusers'
        } 
      }
    },
    methods: {
      goBack () {
        window.history.back();
      },
      onSubmit (event) {
        if (true === this.valid) {
          event.target.submit();
        } else {
          this.$refs['form'].validate(true)
        }
      },
      isAdminChange(val) {
        this.isAdmin = +val
      },
    }
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
</style>
