<template>
  <div class="container">
    <div class="events__action">
      <v-btn @click="toAdd" color="info">Создать Push-уведомление</v-btn>
    </div>
    <div>
      <v-data-table
        :headers="headers"
        :items="data"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.first_name }}</td>
          <td class="text-xs-center">{{ props.item.last_name }}</td>
          <td class="text-xs-center">{{ props.item.username }}</td>
          <td class="text-xs-center">{{ props.item.phone }}</td>
          <td class="text-xs-center">{{ props.item.created_at }}</td>
          <td class="text-xs-center">
            <form class="parent_form" method="post" onsubmit="if (confirm('Delete?')){ return true } else { return false }" :action="'/admin/telusers/' + props.item.id">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" :value="csrf_token">
              <a class="btn btn-default action_style" :href="'/admin/telusers/' + props.item.id + '/edit'"><i class="material-icons" title="Edit">edit</i></a>
              <button type="submit" class="btn btn-default action_style"><i class="material-icons" title="Delete">delete</i></button>
            </form>
          </td>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TelusersTable',
    props: [
      'data',
      'create',
      'csrf_token'
    ],
    data() {
      return {
        headers: [
          { text: 'Имя', value: 'first_name' },
          { text: 'Фамилия', value: 'last_name', align: 'center' },
          { text: 'Username', value: 'username', align: 'center' },
          { text: 'Телефон', value: 'username', align: 'center' },
          { text: 'Создан', value: 'created_at', align: 'center' },
          { text: 'Действия', value: 'actions', align: 'center', sortable: false }
        ]
      }
    },
    created() {
      console.log(this.data)
    },
    methods: {
      toAdd() {
        window.location.href = this.create
      }
    }
  }
</script>

<style lang="scss" scoped>
 .events__action {
    text-align: right;
    margin-bottom: 25px;
  }
 .action_style {
    color: #1c85d8;
  }
</style>

