<template>
  <div class="event">
    <div class="event__back">
      <a @click="goBack"><v-icon>navigate_before</v-icon> <span>Назад</span></a>
    </div>
    <h1 v-if="data.id">Редактировать салон</h1>
    <h1 v-else>Добавить салон</h1>
    <div>
      <v-form ref="form" :action="action" method="POST" v-model="valid" v-on:submit.prevent="onSubmit">

        <input type="hidden" name="_token" :value="csrf_token">
        <input v-if="data.id" type="hidden" name="_method" value="put">

        <v-text-field
          v-model="data.title"
          :rules="textRules"
          label="Заголовок"
          name="title"
          required
        ></v-text-field>

        <v-text-field
          v-model="data.address"
          :rules="textRules"
          label="Адрес"
          name="address"
          required
        ></v-text-field>

        <v-text-field
          v-model="data.number"
          :rules="textRules"
          label="Номер"
          name="number"
          required
        ></v-text-field>

        <v-textarea
          name="description"
          label="Описание"
          v-model="data.description" 
          hint=""
        ></v-textarea>

        <v-btn type="submit" color="info">Сохранить</v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MerchantForm',
    props: [
      'merchant',
      'csrf_token',
    ],
    data () {
      return {
        default: {
          title: '',
          address: '',
          number: '',
          description: ''
        },
        valid: false,
        textRules: [
          v => !!v || 'Это поле обязательное',
          v => v.length >= 3 || 'Длина должна быть более трех символов'
        ]
      }
    },
    created () {
      console.log(this.merchant)
    },
    computed: {
      data () {
        let data = this.default
        if (this.merchant.id != undefined) {
          data = this.merchant
        } 
        return data
      },
      action() {
        if (this.data.id != null) {
          return '/admin/merchants/' + this.data.id
        } else {
          return '/admin/merchants'
        } 
      }
    },
    methods: {
      goBack () {
        window.history.back();
      },
      onSubmit (event) {
        if (true === this.valid) {
          event.target.submit();
        } else {
          this.$refs['form'].validate(true)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
  .coordinates-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
