<template>
  <div class="container">
    <h1>Салоны</h1>
    <div class="events__action">
      <v-btn @click="toAdd" color="info">Добавить</v-btn>
    </div>
    <div>
      <v-data-table
        :headers="headers"
        :items="data"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.title }}</td>
          <td class="text-xs-center">{{ props.item.address }}</td>
          <td class="text-xs-center">{{ props.item.description }}</td>
          <td class="text-xs-center">
            <form class="parent_form" method="post" onsubmit="if (confirm('Delete?')){ return true } else { return false }" :action="'/admin/merchants/' + props.item.id">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" :value="csrf_token">
              <a class="btn btn-default action_style" :href="'/admin/merchants/' + props.item.id + '/edit'"><i class="material-icons" title="Edit">edit</i></a>
              <button type="submit" class="btn btn-default action_style"><i class="material-icons" title="Delete">delete</i></button>
            </form>
          </td>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MerchantsTable',
    props: [
      'data',
      'create',
      'csrf_token'
    ],
    data() {
      return {
        headers: [
          { text: 'Заголовок', value: 'title' },
          { text: 'Адрес', value: 'address', align: 'center' },
          { text: 'Описание', value: 'description', align: 'center' },
          { text: 'Действия', value: 'actions', align: 'center', sortable: false }
        ]
      }
    },
    created() {
      console.log(this.data)
    },
    methods: {
      toAdd() {
        window.location.href = this.create
      }
    }
  }
</script>

<style lang="scss" scoped>
  .events__action {
    text-align: right;
    margin-bottom: 25px;
  }
  .action_style {
    color: #1c85d8;
  }
</style>
