<template>
  <div class="settings">
    <h1>Создание Push-уведомления </h1>
    <form :action="action" method="post">
      <input type="hidden" name="_token" :value="csrf_token">

      <v-flex xs12>
        
        <div>
          <v-uploader
            language="en"
            :uploadFileUrl="'/admin/store?_token=' + csrf_token"
            @done="done"
          ></v-uploader>
          <input type="hidden" name="image" v-model="imageUrl">
        </div>

        <v-textarea
          name="content"
          label="Содержание уведомления"
        ></v-textarea>

        <v-text-field
          label="Ссылка"
          name="link"
        ></v-text-field>
      </v-flex>

      <v-btn type="submit" color="info">Отправить</v-btn>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'PushNotificationForm',
    props: [
      'action',
      'csrf_token',
    ],
    data () {
      return {
        imageUrl: ''
      }
    },
    created () {
    },
    methods: {
      done(data) {
        this.imageUrl = data[0].url
      },
    }
    
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
</style>
