<template>
  <div class="settings">
    <h1>Настройки</h1>
    <div v-if="is_admin">
      <form :action="setwebhook" id="setwebhook" method="post">
        <input type="hidden" name="_token" :value="csrf_token">
          
          <v-flex xs12 sm6 md3>
            <v-text-field
              label="Url"
              name="url"
            ></v-text-field>
          </v-flex>
          <v-btn type="submit" color="info">Установить WebHook</v-btn>
      </form>
    </div>
    
    <form :action="save" id="setwebhook" method="post">
      <input type="hidden" name="_token" :value="csrf_token">

      <div>
        <p>В тексте можно использовать переменные:</p>
        <p>%first_name% - Имя пользователя</p>
        <p>%last_name% - Имя пользователя</p>
        <p>%address% - Адрес салона</p>
        <p>%phone% - Номер салона</p>
      </div>

      <v-textarea
        name="start_msg"
        label="Приветственное сообщение"
        v-model="settings.start_msg"
      ></v-textarea>

      <v-textarea
        name="select_action"
        label="Выберите действие"
        v-model="settings.select_action"
      ></v-textarea>

      <v-textarea
        name="send_phone"
        label="Пришлите свой номер"
        v-model="settings.send_phone"
      ></v-textarea>

      <v-textarea
        name="order_created"
        label="Заявка создана"
        v-model="settings.order_created"
      ></v-textarea>

      <v-textarea
        name="sign"
        label="Записаться"
        v-model="settings.sign"
      ></v-textarea>

      <v-textarea
        name="services"
        label="Наши услуги"
        v-model="settings.services"
      ></v-textarea>

      <v-textarea
        name="portfolios"
        label="Наши работы"
        v-model="settings.portfolios"
      ></v-textarea>

      <v-textarea
        name="get_location"
        label="Как добраться?"
        v-model="settings.get_location"
      ></v-textarea>

     
      <v-textarea
        name="send_location"
        label="Бот построил маршрут"
        v-model="settings.send_location"
      ></v-textarea>

      <v-textarea
        name="user_call"
        label="Позвонить самому"
        v-model="settings.user_call"
      ></v-textarea>

      <v-btn type="submit" color="info">Сохранить</v-btn>

    </form>
  </div>
</template>

<script>
  export default {
    name: 'SettingsForm',
    props: [
      'setwebhook',
      'save',
      'csrf_token',
      'is_admin',
      'settings'
    ],
    data () {
      return {
      }
    },
    created () {
    },
    
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
</style>
