<template>
  <div class="settings">
    <h1>Статистика</h1>
    <v-layout row wrap>
      <v-flex xs12 md4>
      <ve-funnel :data="chartData"></ve-funnel>
      </v-flex>
      <v-flex xs12 md4>
        <ve-line 
          :data="chartData2"
          :settings="chartSettings2"
        ></ve-line>
      </v-flex>
      <v-flex xs12 md4>
        <ve-pie 
          :data="chartData3"
        ></ve-pie>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  export default {
    name: 'StatisticPage',
    props: [

    ],
    data () {
      return {
        chartData: {
          columns: ['status', 'value'],
          rows: [
            { 'status': 'Пользователи', 'value': 900 },
            { 'status': 'Сделали заказ', 'value': 600 },
            { 'status': 'Пришли', 'value': 300 }
          ]
        },
        chartData2: {
          columns: ['date', 'orders'],
          rows: [
            { 'date': '01/01', 'orders': 100 },
            { 'date': '01/02', 'orders': 50 },
            { 'date': '01/03', 'orders': 90 },
            { 'date': '01/04', 'orders': 70 },
            { 'date': '01/05', 'orders': 80 },
            { 'date': '01/06', 'orders': 65 },
            { 'date': '01/07', 'orders': 40 }
          ]
        },
        chartSettings2: {
          legendName: {'date': 'Дата', 'orders': 'Заказы' },
          labelMap: {'date': 'Дата', 'orders': 'Заказы' },
        },
        chartData3: {
          columns: ['service', 'count'],
          rows: [
            { 'service': 'Стрижка', 'count': 25 },
            { 'service': 'Маникюр', 'count': 12 },
            { 'service': 'Тонирование', 'count': 21 },
            { 'service': 'Укладка', 'count': 41 },
            { 'service': 'Ламинирование', 'count': 31 },
            { 'service': 'Выпрямление', 'count': 71 }
          ]
        }
      }
    },
    created () {
    },
    
  }
</script>

<style lang="scss" scoped>

</style>
