<template>
  <div class="event">
    <div class="event__back">
      <a @click="goBack"><v-icon>navigate_before</v-icon> <span>Назад</span></a>
    </div>
    <h1 v-if="data.id">Редактировать портфолио</h1>
    <h1 v-else>Добавить портфолио</h1>
    <div>
      <v-form ref="form" :action="action" method="POST" v-model="valid" v-on:submit.prevent="onSubmit">

        <input type="hidden" name="_token" :value="csrf_token">
        <input v-if="data.id" type="hidden" name="_method" value="put">

        <v-text-field
          v-model="data.title"
          :rules="textRules"
          label="Заголовок"
          name="title"
          required
        ></v-text-field>

        <div>
          <div>Картинка</div>
          <v-uploader
            language="en"
            :uploadFileUrl="'/admin/store?_token=' + csrf_token"
            :previewImg="data.image"
            @done="done"
          ></v-uploader>
          <input type="hidden" name="image" v-model="imageUrl">
        </div>

        <v-select
          :items="services"
          :rules="selectRules"
          label="Услуга"
          v-model="data.service_id"
          item-value="id"
          item-text="title"
          @change="serviceChange"
        >
        </v-select>
        <input type="hidden" name="service_id" v-model="service_id">

        <v-textarea
          name="description"
          label="Описание"
          v-model="data.description" 
          hint=""
        ></v-textarea>

        <v-btn type="submit" color="info">Сохранить</v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PortfolioForm',
    props: [
      'portfolio',
      'services',
      'csrf_token',
    ],
    data () {
      return {
        default: {
          title: '',
          service_id: null,
          description: ''
        },
        valid: false,
        imageUrl: null,
        service_id: null,
        textRules: [
          v => !!v || 'Это поле обязательное',
          v => v.length >= 3 || 'Длина должна быть более трех символов'
        ],
        selectRules: [
          v => !!v || 'Это поле обязательное'
        ],
        numberRules: [
          v => !!v || 'Это поле обязательное',
          v => !/\D/.test(v) || 'Должно быть число',
          v => (v > 0 && v < 1000000) || 'Число между 0 и 999999'
        ],
      }
    },
    created () {
      this.service_id = this.portfolio.service_id
    },
    computed: {
      data () {
        let data = this.default
        if (this.portfolio.id != undefined) {
          data = this.portfolio
        } 
        return data
      },
      action() {
        if (this.data.id != null) {
          return '/admin/portfolios/' + this.data.id
        } else {
          return '/admin/portfolios'
        } 
      }
    },
    methods: {
      goBack () {
        window.history.back();
      },
      onSubmit (event) {
        if (true === this.valid) {
          event.target.submit();
        } else {
          this.$refs['form'].validate(true)
        }
      },
      done(data) {
        this.data.image = data[0].url
        this.imageUrl   = data[0].url
      },
      serviceChange(val) {
        this.service_id = val
      }
    }
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
  /deep/ .image-box img {
    object-fit: contain;
  }
</style>
