<template>
  <div class="event">
    <div class="event__back">
      <a @click="goBack"><v-icon>navigate_before</v-icon> <span>Назад</span></a>
    </div>
    <h1 v-if="data.id">Редактировать заказ</h1>
    <h1 v-else>Добавить заказ</h1>
    <div>
      <v-form ref="form" :action="action" method="POST" v-model="valid" v-on:submit.prevent="onSubmit">

        <input type="hidden" name="_token" :value="csrf_token">
        <input v-if="data.id" type="hidden" name="_method" value="put">

        <div class="datetime">
          <el-date-picker
            value-format="yyyy-MM-dd HH:mm"
            v-model="date"
            type="datetime"
            placeholder="Дата">
          </el-date-picker>
        </div>

        <input type="hidden" name="date" v-model="date">
        <v-select
          :items="services"
          :rules="selectRules"
          label="Услуга"
          v-model="data.service_id"
          item-value="id"
          item-text="title"
        >
        </v-select>
        <input type="hidden" name="service_id" v-model="data.service_id">

        <v-select
          :items="telusers"
          :rules="selectRules"
          label="Пользователь"
          v-model="data.teluser_id"
          item-value="id"
          item-text="first_name"
        >
        </v-select>
        <input type="hidden" name="teluser_id" v-model="data.teluser_id">

        <v-text-field
          v-if="data.id"
          label="Телефон"
          v-model="data.teluser.phone"
        ></v-text-field>

        <v-btn type="submit" color="info">Сохранить</v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'OrderForm',
    props: [
      'order',
      'services',
      'telusers',
      'csrf_token',
    ],
    data () {
      return {
        default: {
          service_id: null,
          teluser_id: null,
          date: ''
        },
        valid: false,
        selectRules: [
          v => !!v || 'Это поле обязательное'
        ],
        date: ''
      }
    },
    created () {
      console.log(this.order)
      console.log(this.services)
      console.log(this.telusers)
    },
    computed: {
      data () {
        let data = this.default
        if (this.order.id != undefined) {
          this.date = this.order.date
          data = this.order
        } 
        return data
      },
      action() {
        if (this.data.id != null) {
          return '/admin/orders/' + this.data.id
        } else {
          return '/admin/orders'
        } 
      }
    },
    methods: {
      goBack () {
        window.history.back();
      },
      onSubmit (event) {
        if (true === this.valid) {
          event.target.submit();
        } else {
          this.$refs['form'].validate(true)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .event__back {
    margin-bottom: 25px;
  }
  .event__back i,
  .event__back span {
    font-size: 16px;
  }
  .datetime /deep/ .el-date-editor {
    width: 100%;
    .el-input__inner {
      background: transparent;
      border: none;
      border-bottom: 1px solid #919191;
      border-radius: 0px;
      padding: 8px 0;
      width: 100%;
      &::placeholder {
        color: #737373;
        font-size: 16px;
      }
    }
    .el-input__prefix {
      display: none;
    }
  }
  

</style>
